@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* for noraml tetx */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Rokkitt', serif; */

@font-face {
    font-family: themeFont;
    src: url(./font/bBigerOver.ttf);
}

:root {
    /* Font Size For Desktop */

    --Headings: 2.5rem;
    --subHeadings: 2.1rem;
    --Titles: 2rem;
    --subTitles: 1.3rem;
    --pragraph: 1rem;

    --border-radius: 5px;
    --btn-border-radius: 3px;

    /*  Small screens, laptops */

    --laptop-Headings: 2.8rem;
    --laptop-subHeadings: 2.5rem;
    --laptop-Titles: 1.3rem;
    --laptop-subTitles: 1rem;
    --laptop-pragraph: 0.5rem;

    /* iPads, Tablets */

    --tablets-Headings: 2.2rem;
    --tablets-subHeadings: 1.5rem;
    --tablets-Titles: 1.2rem;
    --tablets-subTitles: 1rem;
    --tablets-pragraph: 0.9rem;

    /* Font Size For mobiles */

    --mobiles-Headings: 2rem;
    --mobiles-subHeadings: 1.3rem;
    --mobiles-Titles: 1rem;
    --mobiles-subTitles: 0.8rem;
    --mobiles-pragraph: 0.7rem;

    --mobile-border-radius: 3px;

    /* colors */
    --body-background: #101012;
    --theme-color: #FF5500;
    --card-color: #141414;
    --text-color: #ffffff;
    --light-text-color: #BCBCBC;

    /* shadow */
    --shadow: 5px 5px 10px rgba(12, 12, 12, 0.123);

}

h1 {
    font-size: var(--Headings);
}

h2 {

    font-size: var(--subHeadings);
}

h3 {

    font-size: var(--Titles);
}

h4 {

    font-size: var(--subTitles);
}

p {
    font-size: var(--pragraph);
    font-weight: 200;
}

a {
    text-decoration: none;
    font-size: var(--subTitles);
}

li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Rokkitt', serif;
    color: var(--text-color);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: var(--body-background);
}


.container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-areas: "sidebar content";
    grid-gap: 1rem;
}


.sidebar {
    grid-area: sidebar;
    width: 100%;
    height: 100vh;
    background-color: var(--card-color);
    box-shadow: var(--shadow);
}



/* desgining side bar */

/* sidebar itmes */

.sidebar-items {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-div {
    visibility: hidden;
    display: none;
}

/* logo div */
.logo-div {
    width: 100%;
    height: 10vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-div .igoarena-logo {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.sidebar-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar-items ul {
    min-height: 90%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sidebar-items ul li {
    margin-bottom: 15px;
    padding: 20px;
    background: url(images/btn_back.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sidebar-items ul li:hover {
    background: url(images/btn_back_active.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sidebar-items .btn_active {
    background: none;
    background-image: url(images/btn_back_active.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sidebar-items ul li a {
    font-family: themeFont;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: var(--pragraph);
    text-align: center;
}

/* side bar contact us button */

.contact-us-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    height: 100%;
    min-height: 10%;
    width: 100%;

}

.contact-us-sidebar button {
    width: 55%;
    height: 50%;
    background-color: var(--theme-color);
    border: none;
    border-radius: var(--btn-border-radius);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.contact-us-sidebar p {
    color: var(--light-text-color);
    text-transform: lowercase;
}

/* content start here */

.content {
    grid-area: content;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1rem;
}


/* Image Slider */
.image-slider {
    width: 100%;
    height: 50vh;
    padding: 20px 0 0 0;
    position: relative;

}

.slider-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: #00000071;
    z-index: 1;
}

.sliderimage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.slider-text {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 20px;
    justify-content: center;
    align-items: center;

}

.slider-text h1,
span {
    font-family: themeFont;
    font-size: var(--laptop-subHeadings);
    line-height: 50px;
    letter-spacing: 4px;
    font-weight: lighter;

}

.slider-text h1 span {
    color: var(--theme-color);
}


/* top-altcoins */

.top-altcoins {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

cards {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btc,
.ethereum,
.bnb {
    display: grid;
    max-width: 350px;
    min-width: 320px;
    max-height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 60px) 1fr;
    grid-template:
        "info"
        "chart";
    border-radius: var(--border-radius);
    background-color: var(--card-color);
    box-shadow: var(--shadow);
}

.assest-info {
    grid-area: info;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.alt-title {
    display: inline-flex;
}

card h3 {
    margin-left: 10px;
}

#btcChart,
#ethereumChart,
#bnbChart {
    width: 100%;
    grid-area: chart;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}


/* Trending IgO */

.trending-igo-section {
    margin-top: 20px;
}

.trending-igo-title {
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.trending-igo {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.swiper-container {
    width: 100%;
    overflow: hidden;

}


.swiper-slide {
    width: 300px;
    height: 440px;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.swiper-slide-active::before {
    content: '';
    width: 110px;
    height: 150%;
    position: absolute;
    background: linear-gradient(to right, var(--theme-color), rgb(26, 26, 26));
    animation: animateSlider 3s linear infinite;

}

.swiper-slide-active::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--card-color);
}

@keyframes animateSlider {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.swiper-content {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 2px;
    z-index: 10;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 25% 14% 10%;
    /* grid-template: 
    "igo-header"
    "igo-analysis"
    "igo-discrption"
    "igo-fullreview-btn"; */
    grid-gap: 2px;
}

.igo-header {
    height: 100%;
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius) var(--border-radius);
}

.igo-analysis {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;

}

.igo-discrption {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;

}

.igo-fullreview-btn {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.back-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000071;
}

.igo-header .igo-logo {
    position: absolute;
    object-fit: cover;
    width: 70%;
}

.igo-header .igo-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.igo-header h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    background-color: var(--theme-color);
    padding: 0px 10px 0px 10px;
    border-radius: var(--btn-border-radius);
}

.igo-hasgtag {
    display: flex;
    gap: 5px;

}

.igo-hasgtag p {
    color: #0066FF;
}

.igo-analysis .igo-name {
    letter-spacing: 1.5px;
}

.igo-analysis .igo-name-views .igo-token-type {
    font-weight: 400;
    color: var(--light-text-color);
}

.igo-analysis .igo-views {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.igo-analysis .igo-view-div {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1E1E1E;
    width: min-content;
    padding: 4px 5px 4px 5px;
    border-radius: var(--btn-border-radius);
}

.igo-analysis i {
    font-size: 12px;
}

small {
    color: var(--light-text-color);
}

.igo-analysis .igo-anlysis-div {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.igo-anlysis-div .anlysis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    padding: 8px 5px 8px 5px;
    border-radius: var(--btn-border-radius);
    gap: 5px;
    letter-spacing: 1.5px;
}

.igo-discrption p {
    text-align: left;
    text-align: justify;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--light-text-color);
}

.igo-contact {
    margin-top: 5px;
    display: flex;
    width: min-content;
    align-items: flex-end;

    gap: 5px;
}

.igo-contact img {
    width: 20px;

}


.review-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: var(--theme-color);
    border-radius: var(--btn-border-radius);
}

/* All IGO */
.all-igo {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}


.igo-1 {
    width: 95%;
    height: 230px;
    display: flex;
    align-items: center;
    position: relative;
}

.all-igo-img {
    width: 30%;
    height: 80%;
    background-color: var(--card-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    position: absolute;

}

.all-igo-details {
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: var(--card-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    z-index: 10;
    right: 0;
}


.all-igo-img-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.all-igo-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    box-shadow: var(--shadow);
}

.all-igo-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000071;

}

.all-igo-img-content h4 {
    position: absolute;
    margin: 5px;
    padding: 0 10px 0 10px;
    background-color: var(--theme-color);
    border-radius: var(--btn-border-radius);
}

.all-igo-logo-div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-igo-img-logo {

    width: 70%;
    align-self: center;
    justify-self: center;
}


.all-igo-hasgtag {
    display: flex;
    gap: 5px;
    padding: 5px 10px;

}

.all-igo-hasgtag p {
    color: #0066FF;
}

.all-igo-name {
    padding-left: 10px;
}

.all-igo-name h4 {
    letter-spacing: 1.5px;

}

.all-igo-name p {
    color: #3E3E3E;
    font-weight: 600;
}

.all-igo-analysis {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.all-igo-analysis-card {
    width: 50%;
    min-height: 32px;
    background-color: #1E1E1E;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    letter-spacing: 1.5px;
}

.all-igo-analysis-card i {
    font-size: 12px;
}

.all-igo-discription {
    padding: 5px 10px;
}

.all-igo-discription p {
    text-align: left;
    text-align: justify;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--light-text-color);
}

.all-igo-fullreview-btn {
    width: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.all-igo-review-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 30px;
    background-color: var(--theme-color);
    border-radius: var(--btn-border-radius);
    font-weight: 600;
   
}

/* Mobile devices */
@media (min-width: 360px) and (max-width: 768px) {
    h1 {
        font-size: var(--mobiles-Headings);
    }

    h2 {

        font-size: var(--mobiles-subHeadings);
    }

    h3 {

        font-size: var(--mobiles-Titles);
    }

    h4 {

        font-size: var(--mobiles-subTitles);
    }

    p {
        font-size: var(--mobiles-pragraph);
        font-weight: 200;
    }


    /* Dividing in two part main webstie */
    .container {
        display: grid;
        grid-template-columns: 100% 100%;
        grid-template-rows: 50px 100%;
        grid-template-areas:
            "sidebar"
            "content";
        grid-gap: 1rem;
    }


    .sidebar {
        grid-area: sidebar;
        width: 100%;
        height: 100%;
        background-color: var(--card-color);
        box-shadow: var(--shadow);
    }

    /* desgining side bar */

    /* sidebar itmes */

    .sidebar-items {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
    }

    /* logo div */
    .logo-div {
        width: 25vh;
        height: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;

    }

    .logo-div .igoarena-logo {
        width: 80%;
        height: auto;
        object-fit: cover;

    }

    .menu-div {
        visibility: visible;
        width: 10vh;
        height: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        right: 10px;
        z-index: 999;
        position: absolute;

    }

    #mobile-menu-btn {
        width: 30px;
        height: 30px;
        align-self: center;

    }

    .sidebar-list {
        z-index: 998;
        position: absolute;
        height: 100vh;
        width: 35vh;
        background-color: var(--card-color);
        box-shadow: var(--shadow);
        right: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .75s ease;

    }

    .sidebar-items ul {
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
    }


    .sidebar-items ul li {
        margin-bottom: 15px;
        padding: 20px;
        background: url(images/btn_back.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .sidebar-items ul li:hover {
        background: url(images/btn_back_active.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .sidebar-items .btn_active {
        background: none;
        background-image: url(images/btn_back_active.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .sidebar-items ul li a {
        font-family: themeFont;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: var(--pragraph);
        text-align: center;
    }

    /* side bar contact us button */
    .contact-us-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        justify-content: center;
        width: 100%;
        min-height: 10%;
    }

    .contact-us-sidebar button {
        width: 50%;
        height: 40%;
        background-color: var(--theme-color);
        border: none;
        border-radius: var(--btn-border-radius);
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;

        cursor: pointer;
    }

    .contact-us-sidebar p {
        color: var(--light-text-color);
        text-transform: lowercase;
        font-size: var(--mobiles-pragraph);
    }

    /* contaier start here */

    .content {
        grid-area: content;
        width: 100%;
        height: 100vh;
        padding: 0 10px 0 10px;
        margin: 0;

    }

    /* Image Slider */
    .image-slider {
        width: 100%;
        height: 25vh;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .slider-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--mobile-border-radius);
        background-color: #00000071;
        z-index: 1;
    }

    .sliderimage {

        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--mobile-border-radius);
    }

    .slider-text {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 20px;
        justify-content: center;
        align-items: center;

    }

    .slider-text h1,
    span {
        font-family: themeFont;
        font-size: var(--mobile-subHeadings);
        line-height: 25px;
        letter-spacing: 2px;
        font-weight: lighter;

    }

    .slider-text h1 span {
        color: var(--theme-color);
    }

    /* top-altcoins */

    .top-altcoins {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 7px;
        justify-content: space-evenly;

    }

    .btc,
    .ethereum,
    .bnb {
        display: grid;
        max-width: 110px;
        min-width: 110px;
        max-height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(50px, 60px) 1fr;
        grid-template:
            "info"
            "chart";
        border-radius: var(--mobile-border-radius);
        background-color: var(--card-color);
        box-shadow: var(--shadow);
    }

    .assest-info {
        grid-area: info;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
        flex-direction: column;
    }

    .alt-title {
        display: inline-flex;
    }

    card h3 {
        margin-left: 5px;
    }

    card img {
        width: 20%;
    }

    ethereum card img {
        width: 10%;
    }

    #btcChart,
    #ethereumChart,
    #bnbChart {
        width: 100%;
        grid-area: chart;
        border-radius: 0px 0px var(--border-radius) var(--border-radius);
    }







    .all-igo {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .igo-1 {
        width: 100%;
        height: 210px;
        display: flex;
        align-items: center;
        position: relative;
    }

}





/* iPads, Tablets */
/* @media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: var(--laptop-Headings);
    }

    h2 {

        font-size: var(--laptop-subHeadings);
    }

    h3 {

        font-size: var(--laptop-Titles);
    }

    h4 {

        font-size: var(--laptop-subTitles);
    }

    p {
        font-size: var(--laptop-pragraph);
    }

    .container {
        display: grid;
        grid-template-columns: 100% 100%;
        grid-template-rows: 100px 100%;
        grid-template-areas:
            "sidebar"
            "content";
        grid-gap: 1rem;
    }


    .sidebar {
        grid-area: sidebar;
        width: 100%;
        height: 100%;
        background-color: var(--card-color);
        box-shadow: var(--shadow);
    }

    .content {
        grid-area: content;
        width: 100%;
        height: 100vh;
        background-color: var(--card-color);
    }

} */

/* Small screens, laptops */
@media (min-width: 1024px) and (max-width: 1200px) {
    h1 {
        font-size: var(--laptop-Headings);
    }

    h2 {

        font-size: var(--laptop-subHeadings);
    }

    h3 {

        font-size: var(--laptop-Titles);
    }

    h4 {

        font-size: var(--laptop-subTitles);
    }

    p {
        font-size: var(--laptop-pragraph);
    }



    .container {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidebar content";
        grid-gap: 1rem;
    }


    .sidebar {
        grid-area: sidebar;
        width: 100%;
        height: 100vh;
        background-color: var(--card-color);
        box-shadow: var(--shadow);
    }



    /* desgining side bar */

    /* sidebar itmes */

    .sidebar-items {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .menu-div {
        visibility: hidden;
        display: none;
    }

    /* logo div */
    .logo-div {
        width: 100%;
        height: 10vh;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .logo-div .igoarena-logo {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .sidebar-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sidebar-items ul {
        min-height: 90%;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .sidebar-items ul li {
        margin-bottom: 15px;
        padding: 20px;
        background: url(images/btn_back.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .sidebar-items ul li:hover {
        background: url(images/btn_back_active.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .sidebar-items .btn_active {
        background: none;
        background-image: url(images/btn_back_active.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .sidebar-items ul li a {
        font-family: themeFont;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: var(--laptop-pragraph);
        text-align: center;
    }

    /* side bar contact us button */

    .contact-us-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        justify-content: center;
        height: 100%;
        min-height: 10%;
        width: 100%;

    }

    .contact-us-sidebar button {
        width: 55%;
        height: 50%;
        background-color: var(--theme-color);
        border: none;
        border-radius: var(--btn-border-radius);
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        cursor: pointer;
    }

    .contact-us-sidebar p {
        color: var(--light-text-color);
        text-transform: lowercase;
    }

    /* content start here */

    .content {
        grid-area: content;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 1rem;
    }


    /* Image Slider */
    .image-slider {
        width: 100%;
        height: 50vh;
        padding: 20px 0 0 0;
        position: relative;

    }

    .slider-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        background-color: #00000071;
        z-index: 1;
    }

    .sliderimage {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
    }

    .slider-text {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 20px;
        justify-content: center;
        align-items: center;

    }

    .slider-text h1,
    span {
        font-family: themeFont;
        font-size: var(--laptop-subHeadings);
        line-height: 50px;
        letter-spacing: 4px;
        font-weight: lighter;

    }

    .slider-text h1 span {
        color: var(--theme-color);
    }


    /* top-altcoins */

    .top-altcoins {
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
    }

    cards {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .btc,
    .ethereum,
    .bnb {
        display: grid;
        max-width: 350px;
        min-width: 320px;
        max-height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(50px, 60px) 1fr;
        grid-template:
            "info"
            "chart";
        border-radius: var(--border-radius);
        background-color: var(--card-color);
        box-shadow: var(--shadow);
    }

    .assest-info {
        grid-area: info;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;

    }

    .alt-title {
        display: inline-flex;
        align-items: center;

    }

    card h3 {
        margin-left: 10px;
    }

    #btcChart,
    #ethereumChart,
    #bnbChart {
        width: 100%;
        grid-area: chart;
        border-radius: 0px 0px var(--border-radius) var(--border-radius);
    }


















}

/* Desktops, large screens */
/* @media only screen and (max-width: 1200px) {} */

/* MExtra large screens, TV */
/* @media only screen and (min-width: 1201px) {} */